@model Web.Models.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<style>
    .login-container {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="login-container">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px;">
        <h3 class="text-center mb-3">Change Password</h3>
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label" ></label>
                <input asp-for="Email" class="form-control" type="email" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>



            <div class="form-group mb-3">
                <label asp-for="Current_Password" class="form-label"></label>
                <input asp-for="Current_Password" class="form-control" type="password" />
                <span asp-validation-for="Current_Password" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="New_Password" class="form-label"></label>
                <input asp-for="New_Password" class="form-control" type="password" />
                <span asp-validation-for="New_Password" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Confirm_New_Password" class="form-label"></label>
                <input asp-for="Confirm_New_Password" class="form-control" type="password" />
                <span asp-validation-for="Confirm_New_Password" class="text-danger"></span>
            </div>

            <input type="submit" value="Submit" class="btn btn-success p-2 w-100" />

            <div class="text-center mt-2">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mb-3">Back</a>
            </div>

        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
