@model List<DTO.OrderDto.OrderResponseDto>

@{
    ViewBag.Title = "My Orders";
}

<h2>My Orders</h2>

@if (!Model.Any())
{
    <div class="alert alert-info">You have not placed any orders yet.</div>
}
else
{
    <table class="table table-bordered mt-3">
        <thead class="table-light">
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.OrderDate.ToLocalTime().ToString("g")</td>
                    <td>@order.TotalAmount.ToString("C")</td>
                    <td>

                        <a class="btn btn-sm btn-primary"
                           asp-controller="Order"
                           asp-action="DownloadInvoice"
                           asp-route-orderId="@order.OrderId">
                            Download Invoice
                        </a>

                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
